body
{
	background: rgb(255, 229, 186);
}

	.login_div1 , .login_div2
	{
		background: rgb(255, 252, 209);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

 
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(255, 241, 117);
border-radius: 10px;
border-top: 10px solid #90ff9a;
padding: 10px;
float: none;
text-align: left;
}
